* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Robot, sans-serif;
}
:root {
  --primary: #8ec447;
}
body {
  background-color: #1b2c34;
}
a {
  text-decoration: none;
}
.css-1enotpu-MuiTableRow-root:nth-of-type(odd) {
  background-color: #0f1c24 !important;
  color: #d3d3d3 !important;
}

.css-1enotpu-MuiTableRow-root:nth-of-type(even) {
  background-color: #1b2c34 !important;
  color: #d3d3d3 !important;
}
.makeStyles-table-1 .MuiTableBody-root .MuiTableCell-root {
  color: #d3d3d3;
}

.makeStyles-table-6 .MuiTableBody-root .MuiTableCell-root {
  border-color: #0a3444 !important;
}
.css-rx050-MuiTableCell-root, .css-uihxpp-MuiTableCell-root, .css-ptm6ww-MuiTableCell-root, .css-pvn2r4-MuiTypography-root{
  color: #d3d3d3 !important;
}